apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  releaseName: prometheus
  interval: 1h
  timeout: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "79.x"
      sourceRef:
        kind: HelmRepository
        name: prometheus
        namespace: monitoring
      interval: 1h
  valuesFrom:
    - kind: ConfigMap
      name: prometheus-values
      valuesKey: values.yaml
