apiVersion: apps/v1
kind: Deployment
metadata:
  name: glance
  namespace: glance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: glance
  template:
    metadata:
      labels:
        app: glance
    spec:
      containers:
        - name: glance
          image: glanceapp/glance
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: config
              mountPath: /app/config
          env:
            - name: WEATHER_LOCATION # lol
              valueFrom:
                secretKeyRef:
                  name: location
                  key: location
      volumes:
        - configMap:
            name: glance-config
          name: config