apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  interval: 1h
  timeout: 5m
  url: https://charts.external-secrets.io
  ref:
    tag: v1.1.0
