apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system

spec:
  valuesContent: |-
    web:
      redirectTo: websecure
    logs:
      general:
        format: json
      access:
        enabled: true
        format: json
    metrics:
      prometheus:
        service:
          enabled: true
        serviceMonitor:
          enabled: true
          namespace: kube-system
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
