apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system

spec:
  valuesContent: |-
    deployment:
      podAnnotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9100"
    logs:
      general:
        format: json
      access:
        enabled: true
        format: json
    ports:
      metrics:
        port: 9100
        expose:
          default: true
        exposedPort: 9100
    metrics:
      prometheus:
        enabled: true
        entryPoint: metrics
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
