apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
    logs:
      general:
        format: json
      access:
        enabled: true
        format: json
    metrics:
      prometheus:
        service:
          enabled: true
        serviceMonitor:
          enabled: true
          namespace: monitoring
          additionalLabels:
            release: prometheus
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
