grafana.ini:
  server:
    root_url: https://grafana.on.lu.mi
  analytics:
    check_for_updates: false
    check_for_plugin_updates: false
    reporting_enabled: false
  news:
    news_feed_enabled: false

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-prometheus.monitoring.svc.cluster.local:9090
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.monitoring.svc.cluster.local:3100

# mount svc account so we can access loki securely
serviceAccount:
  automountServiceAccountToken: true

initChownData:
  enabled: false

persistence:
  enabled: true
  size: 10Gi
  accessMode: ReadWriteOnce
