deploymentMode: SimpleScalable

loki:
  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  structuredConfig:
    auth_enabled: true
    ingester:
      chunk_encoding: snappy
    limits_config:
      allow_structured_metadata: false
      volume_enabled: true

chunksCache:
  writebackSizeLimit: 10MB

minio:
  enabled: true

# setup gateway so we can securely connect via grafanas svc account
gateway:
  enabled: true
  service:
    type: LoadBalancer

# setup 1 replica for all core components
backend:
  replicas: 1
read:
  replicas: 1
write:
  replicas: 1
