deploymentMode: SimpleScalable

loki:
  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  ingester:
    chunk_encoding: snappy
  tracing:
    enabled: true
  querier:
    max_concurrent: 2
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true

chunksCache:
  writebackSizeLimit: 10MB

minio:
  enabled: true

# setup gateway so we can securely connect via grafanas svc account
gateway:
  enabled: true
  service:
    type: LoadBalancer

# setup 2 replicas for all core components
backend:
  replicas: 2
read:
  replicas: 2
write:
  replicas: 2
